@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
