body
	font-family: "Raleway", sans-serif
	color: $mainColor
	background-color: $bgColor
	+r(767)
		font-size: 13px

.med
	&_center
		margin-top: 50px
		display: flex
		justify-content: center
	&__container 
		width: 100%
		max-width: 1280px
		margin: 0 auto
		+rm(768) 
			padding: 0 50px

	&__item-info, &__header-titles
		width: 70%
	&__item 
		margin-top: 20px
		display: flex
		align-items: center
		justify-content: space-between
		background-color: #fff
		box-shadow: 0 0 24px 0 rgba(47,170,247,0.04) 
		border-radius: 20px 
		width: 100% 
		padding: 10px 40px
		+r(767)
			width: auto 
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			margin: 20px 
			padding: 30px 20px
			border-radius: 10px
		
		&-info, &-control 
			display: flex
		&-info 
			+r(767)
				flex-direction: column
		&-control 
			+r(767)
				margin-top: 20px
				justify-content: space-between
				width: 100%
		&-button:nth-child(2) 
			+rm(768)
				margin-left: 20px
		&-value, &-header
			width: 100% 
			+rm(768)
				margin-right: 10px
				&:nth-child(1)
					width: 20%
				&:nth-child(2)
					width: 70%
				&:nth-child(3)
					width: 10%
		&-value
			+rm(768)
				+text-overflow
		&_header 
			height: 50px 
			background-color: #2faaf7 
			box-shadow: 0 10px 50px 0 rgba(47,170,247,0.35) 
			color: #fff 
			text-transform: uppercase 
			font-size: 13px 
			font-weight: 600 
			letter-spacing: 0.6px 
			margin-top: 40px 
			+r(767)
				display: none

	&__button 
		color: #fff
		cursor: pointer
		padding: 10px 20px
		background: $blueColor
		border-radius: 8px
		+hover($blueColorHover)
		+active($blueColorActive)
		&_red
			background-color: $redColor
			+hover($redColorHover)
			+active($redColorActive)
		&_disabled 
			background:#ECEFF1
			cursor: auto
			&:hover 
				background: #ECEFF1 !important
		+r(767)
			font-size: 14px
			border-radius: 5px
	&__add
		display: flex
		justify-content: flex-end
		margin-top: 25px
		+r(767)
			margin: 20px 
		&-button
			cursor: pointer
			+center
			background: #fff
			width: 70px
			padding: 10px
			border-radius: 10px
			box-shadow: 0 0 24px 0 rgba(47,170,247,0.04) 
			+active(#fafdff)
			svg 
				width: 35px
				height: 35px
		
	&__modal 
		+position(fixed, 0, 0, 0, 0)
		background: rgba(0,0,0,.4) 
		z-index: 5 
		&-content 
			margin-top: 20px
			&_hide 
				display: none
		&-close 
			cursor: pointer
			position: absolute
			right: 0
			top: 0
			width: 40px
			height: 40px
			+center
			svg 
				width: 10px
				height: 10px
		&-container 
			width: 50%
			box-shadow: 0 14px 40px rgba(0,0,0,.35)  
			background-color: #fff
			padding: 40px 30px
			position: absolute
			
			+rm(768)
				max-width: 600px
				border-radius: 8px
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
			+r(1023)
				width: 70%
			+r(767)
				padding: 50px 10px
				width: 100vw
				height: 100%
			&_delete
				width: 400px 
		&-field
			display: flex
			align-items: center
			&:not(:first-child)
				margin-top: 25px
			span 
				width: 30%
				display: block
				padding-right: 5px
				word-break: break-word	
		&-title, &-control
			display: flex
		&-title
			justify-content: center
			font-size: 32px
			span
				margin: 0 10px
			span:last-child
				font-style: italic
			+r(767)
				font-size: 22px
		&-control
			margin-top: 50px
			justify-content: space-around
			+r(767)
				margin-top: 25px
		&-wrapper 
			width: 100%
			position: relative
		&-error 
			position: absolute
			left: 5px
			bottom: -17px
			font-style: italic
			color: $redColor
			font-size: 13px
			+r(767)
				font-size: 10px
		&-inp
			outline: none
			display: block 
			width: 100% 
			border-radius: 10px 
			background-color: #edf6fb 
			border: none 
			padding: 10px 15px 
			font-size: 16px 
			color: #444 
			position: relative 
			transition: 0.6s 
			&_big
				min-height: 100px
				resize: none

			